@charset "utf-8";
/* CSS Document */
.cor_1 {
	background-color: #FAFAFA;
	font-size: 1px;
	height:24px;
}

.cor_2 {
	background-color: #AAB4C8;
	font-size: 1px;
	height:4px;
}

.cor_3 {
	background-color: #FAFAFF;
	font-size: 1px;
	height:2px;
}

.cor_4 {
	background-color: #E6EBF0;
	font-size: 1px;
	height:24px;
}

.cor_5 {
	background-color: #FAFAFF;
	font-size: 1px;
	height:4px;
}

.cor_6 {
	background-color: #CDD7E1;
	font-size: 1px;
	height:13px;
}

.cor_7 {
	background-color: #FFFFFF;
	font-size: 1px;
	height:12px;
}

.cor_8 {
	background-color: #F5F5F5;
	font-size: 1px;
}

body {	
	margin:0px;
	padding:0px;
}


.div_login {
	border-radius:10px;
	width:400px;
	border:1px solid #15A3A2;	
}

.nav_bar {
	border:1px solid #15A3A2;
	display:block;
	margin:0px;
	padding:0px;
	width:100%;	
}

.header {
	/*border:1px solid #00f;*/
	border:0px;
	/*background-color: #000000;*/
	display:block;
	margin:0px;
	padding:0px;
	width:100%;
}

.rodape {
	display:block;
	/*background-color: #000000;*/
	border-top:1px;
	border-top-color:#15A3A2;
	border-top-style:solid;
	margin:0px;
	padding:0px;
	width:100%;
}

.fieldset {
	padding-left:5px;	
}

.nome_formulario {
	font-family: "Calibri", Verdana, Arial;
	font-size: 14px;
	color: #FFFFFF;
	/*background-color: #647896;*/
	background-color: #15A3A2;
	text-align: right;
	letter-spacing: 4px;
	/*height:21px;*/
	border:0px; 
	padding:3px;
	/*width:100%;*/ 
}

.alerta_erro {
	font-family:"Calibri", Verdana, Arial;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color:#FF0000;
}

.labels {
	font-family: "Calibri", Verdana, Arial;
	font-size: 13px;
	/*color: #000000;*/
	color:#214A91;
	text-align: left;
	letter-spacing: 1pt;
	margin-right:10px;
}

.esq_senha {
	font-family: "Calibri", Verdana, Arial;
	font-size: 12px;
	/*color:#09F;*/
	color:#08629D;
	cursor:pointer; 
	text-decoration:none;
	text-align: left;
	letter-spacing: 1pt;
}

.caixa {	
	/*
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size:12px;
	color:#000000;
	
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #AFAFAF;
	border-right-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
	border-left-color: #AFAFAF;
	background-color: #F5F5F5;
	*/
	font-family: "Calibri", Verdana, Arial;
	font-size:13px;
	margin-bottom:10px;
	margin-right:10px;
	text-transform: uppercase;
}

.class_botao {
	font-family: "Calibri", Verdana, Arial;
	font-size: 14px;
	color:#214A91;
	text-decoration:none;
	width:120px;
	margin-bottom:2px;
	/*
	color: #333333;
	background-color: #F5F5F5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EBEBEB;
	border-right-color: #9B9B9B;
	border-bottom-color: #9B9B9B;
	border-left-color: #EBEBEB;
	*/
}

input[type="button"]:disabled{
	background: #E9E9E9;
    color:#000;
	font-family: "Calibri", Verdana, Arial;
	font-size: 14px;
	text-decoration:none;
	width:120px;
	margin-bottom:3px;
}

input[type="button"]:disabled:hover{
    background: #E9E9E9;
	font-family: "Calibri", Verdana, Arial;
	font-size: 14px;
	text-decoration:none;
	width:120px;
	margin-bottom:3px;
	color:#000;
}

.class_botao_menu_hab {
	font-family: "Calibri", Verdana, Arial;
	font-size: 11px;
	color: #000000;
	background-color: #E6EBF0;
	/*height: 28px;*/
	/*width: 170px;*/
	/*width:300px;*/
	height:100% !important;
	width:100% !important;
	letter-spacing: 1pt;
	border: 0px none #FFFFFF;
	/*
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 1px;
	*/
	/*padding:5px;*/
	cursor:pointer;
	text-decoration:none;
}

.class_botao_menu_deshab {
	font-family: "Calibri", Verdana, Arial;
	font-size: 11px;
	color: #CCC;
	background-color: #E6EBF0;
	/*height: 28px;*/
	/*width: 170px;*/
	height:100% !important;
	width:100% !important;
	letter-spacing: 1pt;
	border: 0px none #FFFFFF;
	/*
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 1px;
	*/
	/*padding:5px;*/
	text-decoration:none;
}

input.class_botao_menu_hab:hover {
	background: #148BA0;
	color: white;
}


input.class_botao:hover {
	background: #148BA0;
	color: white;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.mini_seta {
	margin-right: 10px;
	margin-left: 10px;
}

.link_1 {
	font-family: "Calibri", Verdana, Arial;
	font-size: 11px;
	color: #4B4B4B;
	text-align: right;
	padding-right: 10px;
	letter-spacing: 2px;
	text-decoration:none;
}

.tabela_body {
	font-family: "Calibri", Verdana, Arial;
	background-color: #E6EBF0;
	height: 28px;
	/*width: 170px;*/
	width:300px;
}

.espacamento
{
	padding-top:10px;
	padding-right:25px;
}

.linha_divisao {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #4B4B4B;
}

/*UTILIZADO NOS MODAIS */
.css_popupdiv_fundo {
	background-color:#000000;
	filter:alpha(opacity=20);
	float:left;
	opacity:.20;
	left:0px;
	top:0px;
	position:absolute;
	padding:150px;
	z-index:1;
}

.css_popupdiv_conteudo {
	background-color:#FFFFFF;
	border:1px solid #000000;
	filter:alpha(opacity=140);
	opacity:100;
	padding:10px;
	position:absolute;
	z-index:1;
	overflow:auto;
}

.classModal {
	border: solid 1px black; 
	z-index: 100;
}

.classModal p {
	text-align:right; 
	margin:-10px; 
	border-bottom:solid 1px;
	padding:5px;
	height: 15px;
}

.classModal #divConteudoModal {
	margin-top: 15px;
}


/*UTILIZADO NO LOADER */
.loader {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    opacity: .72;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */	
}

/* loader Content */
.loader-content {
   /* background-color: #fefefe;*/
    /*margin: auto;*/
    padding: 20px;
    border: 0px solid #888;
    /*width: 80%;*/
}

/*UTILIZADO NO DHTMLX*/
.standartTreeRow{

font-size:11px;
/*font-family:Arial, Helvetica, sans-serif;*/
font-family: "Calibri", Verdana, Arial;

}

.selectedTreeRow{
font-size:11px;
/*font-family:Arial, Helvetica, sans-serif;*/
font-family: "Calibri", Verdana, Arial;
}

div.gridbox table.hdr td {
/*font-family:arial;*/
font-family: "Calibri", Verdana, Arial;
font-size:13px;
font-weight:bold;
color:#03C !important;
}

div.gridbox table.obj td {
/*font-family:Arial;*/
font-family: "Calibri", Verdana, Arial;
font-size:12px;

}

.cursor {cursor:pointer;}
.icone {left:0px;float:left !important;background:url("../imagens/icones_sprite.gif")}
.icone-botao {position:relative; top:3px;}
	
/*Primeira linha da imagem*/
.icone-adicionar {width:15px;height:15px;background-position: 0 0;}
.icone-clips {width:11px;height:10px;background-position: -14px 0px;}
.icone-atencao {width:15px;height:16px;background-position: -23px 0px;}
.icone-editar {width:15px;height:16px;background-position: -41px 0px;}
.icone-pasta {width:15px;height:15px;background-position: -56px 0px;}
.icone-remover {width:15px;height:15px;background-position: -71px 0px;}
.icone-balao {width:15px;height:15px;background-position: -86px 0px;}
.icone-calc {width:14px;height:16px;background-position: -101px 0px;}
.icone-procurar {width:18px;height:21px;background-position: -115px 0px;}
.icone-fechar {width:18px;height:21px;background-position: -132px 0px;}
.icone-seta-cima {width:9px;height:15px;background-position: -149px 0px;}
.icone-seta-voltar {width:14px;height:15px;background-position: -158px 0px;}
.icone-seta-baixo {width:9px;height:15px;background-position: -171px 0px;}

/*Segunda linha da imagem*/
.icone-calendario {width:16px;height:15px;background-position: -3px -21px;}
.icone-salvar {width:15px;height:15px;background-position: -39px -21px;}
.icone-detalhes {width:15px;height:15px;background-position: -22px -21px;}
.icone-relogio {width:16px;height:17px;background-position: -56px -21px;}
.icone-desfazer {width:15px;height:15px;background-position: -75px -21px;}
.icone-agregar {width:15px;height:15px;background-position: -94px -21px;}
.icone-agregados {width:15px;height:15px;background-position: -110px -21px;}
.icone-lupa {width:15px;height:15px;background-position: -126px -21px;}
.icone-arquivo-doc {width:16px;height:17px;background-position: -142px -21px;}
.icone-arquivo-xls {width:16px;height:17px;background-position: -161px -21px;}

/*Terceira linha da imagem*/
.icone-aprovar {width:15px;height:15px;background-position: -18px 70px;}
.icone-janela-divisao {width:15px;height:15px;background-position: -36px 59px;}
.icone-janela-remover {width:16px;height:15px;background-position: -54px 59px;}
.icone-excluir {width:15px;height:15px;background-position: -70px 72px;}
.icone-cadeado-aberto {width:16px;height:17px;background-position: -90px 69px;}
.icone-arquivo-dwg {width:16px;height:16px;background-position: -108px 59px;}
.icone-arquivo-zip {width:16px;height:15px;background-position: -126px 59px;}
.icone-janela-vazia {width:16px;height:15px;background-position: -144px 59px;}
.icone-bloco-notas {width:16px;height:15px;background-position: -160px 59px;}
.icone-arquivo-ppt {width:16px;height:16px;background-position: -177px 59px;}
.icone-seta-direita {width:16px;height:15px;background-position: -194px 59px;}

/*Quarta linha da imagem*/
.icone-bola-amarela {width:15px;height:16px;background-position: 1px -60px;}
.icone-impressora {width:15px;height:17px;background-position: -16px -60px;}
.icone-cadeado-fechado {width:15px;height:19px;background-position: -33px -60px;}
.icone-setas {width:17px;height:12px;background-position: -50px -60px;}
.icone-arquivo-pdf {width:17px;height:17px;background-position: -70px -60px;}
.icone-arquivo-nao-encontrado {width:17px;height:19px;background-position: -87px -60px;}
.icone-arquivo-mdb {width:17px;height:19px;background-position: -106px -60px;}
.icone-joinha {width:17px;height:22px;background-position: -126px -60px;}
.icone-bola-vermelha {width:17px;height:16px;background-position: -143px -60px;}
.icone-bola-verde {width:17px;height:16px;background-position: -160px -60px;}
.icone-bola-azul {width:17px;height:18px;background-position: -177px -60px;}

/*Quinta linha da imagem*/
.icone-duplicar {width:17px;height:18px;background-position: -0px -77px;}
.icone-reprovar {width:16px;height:18px;background-position: -18px -79px;}
.icone-arquivo-notas {width:15px;height:17px;background-position: -35px -79px;}
.icone-cadeado-vermelho {width:15px;height:17px;background-position: -53px -82px;}
.icone-setas-grandes {width:21px;height:19px;background-position: -71px -79px;}
.icone-cadeado-azul {width:16px;height:20px;background-position: -96px -79px;}
.icone-binoculos {width:15px;height:16px;background-position: -113px -79px;}
.icone-inserir {width:15px;height:15px;background-position: -128px -83px;}
.icone-mini-seta {width:15px;height:15px;background-position: -146px -82px;}
.icone-envelope {width:15px;height:15px;background-position: -161px -79px;}
.icone-envelope-opaco {width:16px;height:18px;background-position: -177px -79px;}

/*Sexta linha da imagem*/
.icone-balao-opaco {width:14px;height:15px;background-position: -2px -95px;}
.icone-aprovar-amarelo {width:15px;height:14px;background-position: -18px -97px;}

.auto_form label{width: 20%;text-align: right;}
.auto_form input{width: 79%;}
.auto_form textarea{width: 79%;}
.auto_form select{width: 79.5%;}
.auto_lista tr th{font-family: Tahoma;font-size: 12px;text-align: left;font-weight: normal;background-image: url("../imgs/sky_blue_grid.gif");background: linear-gradient(#e2efff, #d3e7ff) repeat scroll 0 0 rgba(0, 0, 0, 0);/*border-bottom: 1px solid #a4bed4;*/border-right: 1px solid #a4bed4;border-top: 1px solid #a4bed4;height: 30px;padding-right: 5px;padding-left: 5px;}
.auto_lista_titulo{padding-left: 10px;width: auto;}
.auto_lista .linha1{background: none repeat scroll 0 0 #ebf3ff;}
.auto_lista .legend{/*height: 30px;*/padding: 5px;text-align: right;border-top: none;border-left: none;border-right: none;}
.auto_lista tr td{border-bottom: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;border-top: 1px solid #f1f1f1;/*line-height: 23px;*/padding-bottom: 1px;padding-top: 1px;padding-right: 2px;padding-left: 2px;font-family: Tahoma;font-size: 12px;text-align: left;font-weight: normal;}
.auto_lista{border: 1px solid #a4bed4;}